$font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$font-family-content: 'Open Sans', Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

$activelink: $primary;
$hoverlink: $primary-dark;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$top-height: 66px;

$small-panel-height: 114px;
$xsmall-panel-height: 187px;
$medium-panel-height: 400px;
$extra-medium-panel-height: 550px;
$large-panel-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '../assets/';
$images-root: $assets-root + 'img/';
$pictures-root: $assets-root + 'pictures/';
$fonts-root: $assets-root + 'fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;

$facebook-color: #3a569b;
$twitter-color: #1fa9e7;
$pinterest-color: #e34e3a;
$instagram-color: #00a0c4;
$google-color: #dd4b39;
$googleplus-color: #dd493a;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;
$wechat-color: #76ca66;
$qq-color: #6ebcea;
$weibo-color: #e94b4b;
$qzone-color: #ffcf00;

$wechat-login-bg: #F9D445;
$wechat-login-btn: #FF5D32;
$wechat-login-btn-border: #EA5127;

$home-first-tab-article-block-text-color: #fefefe;
$nav-transparent-text-color: #ffffff;
$nav-opaque-text-color: $default-text;
$footer-height: 152px;
$footer-height-sm: 152px;