$title-text: #333333;
$content-text: #666666;
$sub-content-text: #999999;

$default: #ffffff;
//TODO
$body-bg: #ffffff;
$content-bg:#f4f4f6;
$default-text: #172530;
$profile-menu-text: #72808a;
$help-text: #949494;
$label-text: #ffffff;
$p-text: #333333;

$disabled: #dddddd;
$disabled-bg: tint($disabled, 15%);
$border: #bebebe;
$border-light: tint($border, 15%);
$input-border: shade($border, 5%);
$input-background: #ffffff;

$sidebar: rgba(#000000, 0.5);
$sidebar-text: #ffffff;
$dropdown-text: #72808a;
$bootstrap-panel-text: #7d7d7d;
$bootstrap-panel-bg: #ffffff;
$mail-box: whitesmoke;
$auth-panel-background: #ffffff;
$progress-background: rgba(#000000, 0.07);
$progress-default: rgba(#000000, 0.15);

//$primary: #E94B4B !default;
$primary: #ff5600 !default;
$info: #2dacd1 !default;
$success: #90b900 !default;
$warning: #dfb81c !default;
$danger: #fb605b !default;
$sub-title: #9ba2a8;
$fav: #ffd801;
$share: #fb605b;
$activity: #ff9a37;

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);
