<div class="home">

    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/01.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 64%"></div>

    <div>
        <div class="price-summary">
            <span>¥288</span>
            <div>
                <span>原价</span>
                <span>¥586</span>
            </div>
            <div>
                <span>折扣</span>
                <span>4.0</span>
            </div>
            <div>
                <span>节省</span>
                <span>¥298</span>
            </div>
        </div>
        <div class="countdown-summary">
            <span>5051人已购买</span>
            <span><span class="hl">{{("00"+duration.hours).slice(-2)}}</span>时<span class="hl">{{("00"+duration.minutes).slice(-2)}}</span>分<span class="hl">{{("00"+duration.seconds).slice(-2)}}</span>秒</span>
        </div>
        <div class="order-btn-wrapper">
            <button type="button" class="btn btn-primary btn-block" ng-click="scrollToOrder()">立即抢购</button>
        </div>
    </div>

    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/02.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 142.13333333333333333333333333333% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/03.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 92.533333333333333333333333333333% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/04.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 227.06666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/05.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 228.66666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/06.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 288.93333333333333333333333333333% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/07.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 286.93333333333333333333333333333% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/08.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 179.46666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/09.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 185.46666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/10.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 145.86666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/11.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 150.13333333333333333333333333333% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/12.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 167.2% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/13.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 140.26666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/14.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 149.6% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/15.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 174.66666666666666666666666666667% "></div>
    <div afkl-lazy-image="http://imageswarovski-1253467197.image.myqcloud.com/16.jpg?imageView2/2/w/1024" class="afkl-lazy-wrapper " style="padding-bottom: 190% "></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 重要提醒</h4>
                <p>1. 活动期间，咨询人数众多，请尽可能自助下单！</p>
                <p>2. 下单之后24小时内安排发货，大概3-5天到货！快递默认顺丰，顺丰到不了发圆通或EMS！</p>
                <p style="color: red">特别提醒：因部分客户所提交信息不全，所以我们会在24小时内给尊贵的你致电核实订单，请亲一定要高抬贵手接听下电话，谢谢！！！</p>
                <p>
                    <a href="tel:13588880000">
                    <span class="btn btn-primary btn-block">
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        热线咨询：13588880000</span>
                    </a>
                </p>
                <p>
                    <a href="sms:13588880000">
                <span class="btn btn-primary btn-block">
                    <i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    短信订购：13588880000</span>
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 id="order-section"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 订单信息</h4>
                <form name="form" novalidate>
                    <div id="distpicker">
                        <div class="form-group has-feedback" ng-class="{'has-error':form.name.$dirty && form.name.$invalid}">
                            <label>收货人姓名<span class="text-danger">*</span></label>
                            <input class="form-control" name="name" ng-model="order.name" placeholder="收货人姓名" required>
                            <form-error message-text="请输入收货人姓名" ng-show="form.name.$error.required"></form-error>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':form.phone.$dirty && form.phone.$invalid}">
                            <label>联系电话<span class="text-danger">*</span></label>
                            <input type="tel" class="form-control" name="phone" ng-model="order.phone" ng-pattern="/^(0[0-9]{2,3}\-?)?([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$|^1(3|4|5|7|8)[0-9]\d{8}$/"
                                   placeholder="联系电话" required>
                            <form-error message-text="请输入联系电话" ng-show="form.phone.$error.required"></form-error>
                            <form-error message-text="请输入正确的电话号码" ng-show="form.phone.$error.pattern"></form-error>
                        </div>

                        <div class="form-group">
                            <label>款式<span class="text-danger">*</span></label>
                            <div class="product-selection">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="product-info" ng-class="{'active':order.productId === '402880895dcc09df015dcc0f8f0a0001'}" ng-click="selectProduct('402880895dcc09df015dcc0f8f0a0001',13800)">
                                            <img src="http://imageswarovski-1253467197.image.myqcloud.com/product1.png?imageView2/2/w/50"/>
                                            <div class="desc">
                                                <span>【一见钟情·玫瑰项链】（单买）</span>
                                                <span><span class="orig">原价258元</span>&nbsp;&nbsp;&nbsp;现价<span class="current">138</span>元</span>
                                            </div>
                                            <div class="product-info-checked">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="product-info" ng-class="{'active':order.productId === '402880895dcc09df015dcc103c700003'}" ng-click="selectProduct('402880895dcc09df015dcc103c700003',18800)">
                                            <img src="http://imageswarovski-1253467197.image.myqcloud.com/product2.png?imageView2/2/w/50"/>
                                            <div class="desc">
                                                <span>【三生三世·四叶手链】（单买）</span>
                                                <span><span class="orig">原价328元</span>&nbsp;&nbsp;&nbsp;现价<span class="current">188</span>元</span>
                                            </div>
                                            <div class="product-info-checked">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="product-info" ng-class="{'active':order.productId === '402880895dcc09df015dcc1108ff0005'}" ng-click="selectProduct('402880895dcc09df015dcc1108ff0005',28800)">
                                            <img src="http://imageswarovski-1253467197.image.myqcloud.com/product3.png?imageView2/2/w/50"/>
                                            <div class="desc">
                                                <span>项链+手链 真情礼品组合</span>
                                                <span>优惠价<span class="current">288</span>元</span>
                                            </div>
                                            <div class="product-info-checked">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>金额：<span class="current">{{order.price / 100 | currency : '￥'}}</span>元</label>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-error':form.$submitted && !formValitate('province')}">
                            <label for="province">收货地区<span class="text-danger">*</span></label>
                            <select class="form-control" id="province" name="province" ng-click="updateForm()" required data-province="---- 选择省 ----">
                                <option value="" data-code="">—— 省 ——</option>
                            </select>
                            <form-error message-text="请选择省份" ng-show="!formValitate('province')"></form-error>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':form.$submitted && !formValitate('city')}">
                            <label class="sr-only" for="city">市</label>
                            <select class="form-control" id="city" name="city" ng-click="updateForm()" required data-required-error="请选择市" data-city="---- 选择市 ----">
                                <option value="" data-code="">—— 市 ——</option>
                            </select>
                            <form-error message-text="请选择城市" ng-show="!formValitate('city')"></form-error>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="district">区</label>
                            <select class="form-control" id="district" name="district" ng-click="updateForm()" data-district="---- 选择区 ----"></select>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':form.address.$dirty && form.address.$invalid}">
                            <label>详细收货地址<span class="text-danger">*</span></label>
                            <input class="form-control" name="address" ng-model="order.address" placeholder="详细收货地址" required>
                            <form-error message-text="请输入详细收货地址" ng-show="form.address.$error.required"></form-error>
                        </div>
                        <div class="form-group">
                            <label>付款方式：<span><i class="fa fa-check" aria-hidden="true"></i> 货到付款</span></label>
                        </div>

                        <div class="form-group">
                            <label>留言</label>
                            <textarea class="form-control" rows="3" ng-model="order.remark" placeholder="例：白天地址没人，请尽量安排其他时间送货"></textarea>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':form.name.$dirty && form.name.$invalid}">
                            <button type="button" ng-click="save(form)" class="btn btn-primary btn-block">确认下单（货到付款）</button>
                            <form-error message-text="请正确填写订单信息" ng-show="form.name.$invalid"></form-error>
                        </div>
                        <div class="comment">
                            <div class="comment-content"><span class="current">【最新购买】</span>：蔡** (159****3245) 在5分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                 aria-hidden="true"></i></span>
                            </div>
                            <div class="comment-content"><span class="current">【最新购买】</span>：陆** (189****4566) 在8分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                 aria-hidden="true"></i></span>
                            </div>
                            <div class="comment-content"><span class="current">【最新购买】</span>：田** (138****2454) 在9分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                 aria-hidden="true"></i></span>
                            </div>
                            <div class="comment-content"><span class="current">【最新购买】</span>：陈** (137****2445) 在13分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                  aria-hidden="true"></i></span>
                            </div>
                            <div class="comment-content"><span class="current">【最新购买】</span>：刘** (150****7985) 在14分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                  aria-hidden="true"></i></span>
                            </div>
                            <div class="comment-content"><span class="current">【最新购买】</span>：李** (130****4566) 在17分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                  aria-hidden="true"></i></span>
                            </div>
                            <div class="comment-content"><span class="current">【最新购买】</span>：罗** (135****7782) 在18分钟前订购了【项链+手链 真情礼品组合288元】送精美礼盒+礼品卡+专业擦银布<span class="current"><i class="fa fa-check"
                                                                                                                                                                                  aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="countdown-fixed">
        <div>
            <div>
                <span class="countdown-separator"><i class="fa fa-clock-o" aria-hidden="true"></i> </span>
                <span class="countdown-title">还有</span>
                <span class="countdown">{{("00"+duration.hours).slice(-2)}}</span>
                <span class="countdown-separator">小时</span>
                <span class="countdown">{{("00"+duration.minutes).slice(-2)}}</span>
                <span class="countdown-separator">分</span>
                <span class="countdown">{{("00"+duration.seconds).slice(-2)}}</span>
                <span class="countdown-separator">秒结束</span>
            </div>
            <button class="btn btn-sm btn-primary" ng-click="scrollToOrder()">立即抢购</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4"><a ng-click="backTop()">首页</a></div>
                <div class="col-xs-4"><a href="tel:13588880000">电话咨询</a></div>
                <div class="col-xs-4"><a href="sms:13588880000">短信下单</a></div>
            </div>
        </div>
    </div>


</div>