@import "../common";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  @media only screen and (max-width: $resM) {
    margin-bottom: $footer-height-sm;
  }
  font-family: $font-family;
  background: $body-bg;
}

body a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none !important;
  &:hover {
    color: currentColor;
  }
}

.afkl-lazy-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.bootstrap-switch-primary-switch {
  color: #fff;
  background: $primary;
}